
@import url('./common.css');

header nav {

    width: 55%;
    display: flex;
    justify-content: space-between;
}

header nav .buger div{

    width: 40px;
    height: 4px;
    background: rgb(121, 120, 120);
    margin-bottom: 5px;
}

.i-01{

    width: 100%;

    margin:0 auto;
    margin-bottom: 4%;
}
.i-01 img{
    width:100%}




.i-01{
    width: 100%;
    position: relative;
    
}

.i-02{
    font-size: 900%;
    position: absolute;
    top:40%; left: 5%;
    color: rgba(255, 245, 238, 0.445);}   



.s-01{
    
    display: flex;
    justify-content: space-between;
    
}


.left{    

    width: 60%;
    position: relative;

}

.left article{

    display: flex;
    align-items:center;
    margin-bottom: 10%;
}

.left article .txt{

    width: 100%;
    margin-left: 30%;

}

.left article .txt h2 {font-size: 300%;
    transform: translate(-80px,-20px);
    }


.left article .txt b{
        margin-bottom: 10%;
        display: block;
    }

.left article .txt p{
        margin-bottom: 10%;
    }
    

.left article .buttom{

    display: flex;
    align-content: flex-end;
    border: solid 2px #767574;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15%;
}

.left article .buttom p{
    padding: 4%;

}

.right{
    margin-right: 1%;
    border: 3px solid rgba(57, 59, 63, 0.671);
    border-radius: 40px;
    width: 300px;
    height:800px;
    padding: 1%;}



.right .s-04{

    height: 60%;
    margin-top: 20%;

}

.right .s-04 b {
    display: block;
    margin-top: 20%;
}
.right p img{
    
    width: 100%;
}



.right .s-04 div{

    margin-bottom: 10%;
}
.right .s-04 div .buttom{
    padding: 2%;
    border: solid 2px #767574;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15%;
}

.s-06{

    border-bottom: 5px solid rgba(57, 59, 63, 0.671);
    padding-bottom: 20px;
}

.s-07 {
}




.s-70 {

    font-size: 120%;
    display: block;

    padding-bottom: 10%;

}


.btn{
    border: solid 2px #999;
    border-radius: 20px;
    padding:5px 60px 5px 20px;
    line-height:1;
    text-transform: uppercase;
    transition:.5s;
}
.btn:hover{
    background:#868d96;
    color:#fff;
}







/* 모바일 용 */

@media (max-width:767px)

{


    header {
        width: 100%;
        padding: 2%;}
    
    header nav {

        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    
    header nav .buger div{
    
        width: 40px;
        height: 4px;
        background: rgb(121, 120, 120);
        margin-bottom: 5px;
    }


    /* main 이미지 */


    .i-01{
        overflow: hidden;}

    .i-01 img{
        width:150%}
    
    .i-01{

        width: 100%;
        position: relative;
        
    }
    
    .i-02{
        font-size: 300%;
        position: absolute;
        color: rgba(255, 245, 238, 0.767);}   
    
    


    /* 메인 사진 아래 */
    
    
    .s-01{
        
        display: block;
        justify-content: space-between;
        
    }
    
    

    /* 왼쪽 */

    .left{    
    
        width: 100%;
        position: relative;
    
    }
    
    .left article{
    
        display: block;
        align-items:center;
        margin-bottom: 10%;
    }
    
    .left article .txt{
    
        width: 90%;
        margin: 10px;
    
    }
    
    .left article .txt h2 {
        font-size: 200%;
        transform: translate(0px,-20px);
        margin-top: 10% ;
        }
    
    
    .left article .txt b{
            margin-bottom: 10%;
            display: block;
        }
    
    .left article .txt p{
            margin-bottom: 10%;
        }
        
    
    .left article .buttom{
    
        display: flex;
        align-content: flex-end;
        border: solid 2px #767574;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        margin-top: 15%;
    }
    
    .left article .buttom p{
        padding: 4%;
    
    }
    


    /* 결제창 라이트 */
    
    .right{
        

        margin:5%;
        border: 3px solid rgba(255, 255, 255, 0);
        border-radius: 40px;
        width: 300px;
        height:800px;
        padding: 1%;

    }

    .right .s-04{
        
        height: 60%;
        margin-top: 20%;
    }
    
    .right p img{
       
        margin-top: 10%;
        width: 100%;
    }
    
    .right .s-04 div{
    
        margin-bottom: 10%;
    }
    
    .right .s-04 div .buttom{

        padding: 2%;
        border: solid 2px #767574;
        width: 200px;
        height: 40px;
        border-radius: 20px;
        margin-top: 15%;
    }
    
    .s-06{
    
        border-bottom: 0px solid rgba(57, 59, 63, 0.671);
        padding-bottom: 0px;
    }

    .s-06 p {
        margin-bottom: 4%;
    }
    .s-06 p input{
        width: 30%;
    }


    .b-012{
        
        display: flex;
        justify-content: space-between;
    }

    .b-01{ 
        margin-right: 10%;
        padding: 2px;
        width: 30%;
        border-radius: 4px;}

    .b-01 p {
        line-height: 160%;
    }
    .b-02{ 
        padding: 2px;
        width: 30%;
        border-radius: 4px;}

    .b-02 p {
        line-height: 160%;
    }



    
    .s-70 p {
    
        font-size: 120%;
        display: block;
    
    }
    
    .s-71{
    }


    .s-71 p {
        margin-top: 5%;
    }

}