@import url('./common.css');

header nav {

    width: 55%;
    display: flex;
    justify-content: space-between;
}

header nav .buger div{

    width: 40px;
    height: 4px;
    background: rgb(121, 120, 120);
    margin-bottom: 5px;
}


section{
    margin: 0 auto;
    margin-top: 8%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;

}

section .left{
    width: 20%;
}

section .right{
    
}

.s-02 .right{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10%;
}

.s-02 .right .txt{
    margin-left: 5%;
    width:40%;
}

.s-02 .right .txt b{
    font-size: 8rem;
    transform: translate(-200%,90%);
    display: inline-block;
    color:#eee;
    line-height:1;
}

.s-02 .right .txt h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.s-02 .right .txt p{
    font-size:1rem;
    line-height:2;
    text-align:justify;
}

.s-02 .right > article > p{width:44%}
.s-02 .right > article > p img{width:100%;}



/* 모바일용 */


@media(max-width:767px){

    header {
        width: 100%;
        padding: 5%;}
    
    header nav {

        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    
    header nav .buger div{
    
        width: 40px;
        height: 4px;
        background: rgb(121, 120, 120);
        margin-bottom: 5px;
    }
    

    /* 왼쪽 부분 */


    section{    
        
    }
    section .left{
      
        width: 20%;
    }
    
    section .left h4 span{
        font-size: 2rem;
        
    }
    


    /* 오른쪽 부분 */


    section .s-02 { 
        width: 100%;
    }




    section .s-02 .right{
        
        flex-direction: column;
        margin-right: 10%;
        
        
    }
    


    section .s-02 .right > article > p{
        
    }

    section .s-02 .right .txt{
        margin-right: 5%;
        margin-bottom: 10%;
        width:90%;
        order: 1;
    }
    
    section .s-02 .right .txt b{
        font-size: 5rem;
        transform: translate(-110%,-5%);
        display: inline-block;
        color:#eee;
        line-height:1;
        
    }
    
    section .s-02 .right .txt h3 {
        font-size: 1rem;
        margin-bottom: 20px;
    }
    section .s-02 .right .txt p{

        font-size:0.5rem;
        line-height:2;
        text-align:justify;

        
    }

    section .s-02 .right > p{
        order: 2;
        width: 100%;}

    section .s-02 .right > p img{
        
        width: 100%;
    }


}