@import url('./common.css');


main{
    margin-top: 60px;
}


main .s-01{
    justify-content: space-between;

    padding-top: 30px;
    display: flex;
}


main .s-01 .left{
    width:46%;
    position:relative;
}

main .s-01 .left img{width:100%}

main .s-01 .left .i-01{
    position:sticky;
    top : 90px;
}

.left .i-01::after{

    content:'';
    position: absolute;
    bottom: 7%;
    right: -16%;
    width:0.7%; height:86%;
    background:#aaa;
}

main .right{

    padding : 0px;
    font-size : 20px;
    width: 40%;
}


.right .section h1{

    margin-bottom: 100px;

}

.right .section p{

    margin-bottom: 50px;
    margin-top: 50px;
}