@import url('./common.css');

main{
    
    
    margin-top: 7%;
    
}

.i-01{
    width: 80%;

    margin:0 auto;
    margin-bottom: 4%;
}
.i-01 img{width:100%}

.i-03{

    margin: 0 auto;
    width: 80%;
}


.i-01{
    position: relative;
    
}
.i-02{
    font-size: 900%;
    position: absolute;
    top:40%; left: 5%;
    color: rgba(255, 245, 238, 0.445);}   



.s-01{
    
    display: flex;
    justify-content: space-between;
    
}


.left{    

    width: 60%;
    position: relative;

}

.left article{

    display: flex;
    align-items:center;
    margin-bottom: 10%;
}

.left article .txt{

    width: 100%;
    margin-left: 30%;

}

.left article .txt h2 {font-size: 300%;
    transform: translate(-80px,-20px);
    }


.left article .txt b{
        margin-bottom: 10%;
        display: block;
    }

.left article .txt p{
        margin-bottom: 10%;
    }
    

.left article .buttom{

    display: flex;
    align-content: flex-end;
    border: solid 2px #767574;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15%;
}

.left article .buttom p{
    padding: 4%;

}

.right{
    margin-right: 1%;
    border: 3px solid rgba(57, 59, 63, 0.671);
    border-radius: 40px;
    width: 300px;
    height:800px;
    padding: 1%;}



.right .s-04{

    height: 60%;
    margin-top: 20%;

}

.right .s-04 b {
    display: block;
    margin-top: 20%;
}
.right p img{
    
    width: 100%;
}

.right .s-04 p {}
.right .s-04 div{

    margin-bottom: 10%;
}
.right .s-04 div .buttom{
    padding: 2%;
    border: solid 2px #767574;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    margin-top: 15%;
}

.s-06{

    border-bottom: 5px solid rgba(57, 59, 63, 0.671);
    padding-bottom: 20px;
}

.s-07 {
}




.s-70 {

    font-size: 120%;
    display: block;

    padding-bottom: 10%;

}





