@import url('./common.css');


.wrap-2{

    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.wrap-3{

    width: 80%;
    margin: 0 auto;

}


.section{
    
    width: 100%;
    height: 100%;

}


.section video{

    width:100%; 
    height: 80vh;
    object-fit: cover;

}

.section span{
    position: absolute;
    bottom: 20%;
    left: 10%;
    font-size: 3.5rem;
    color: rgba(255, 253, 253, 0.719);
    line-height: 150%;
}



/* 핸드폰 용 */

@media  (max-width:767px) {

    .wrap {width: 100%;}


    h2{font-size: 2rem;
        margin-top: 40%;
        color: rgb(75, 85, 86);
    }

    
    header {width: 100%;
    margin: 0 auto;}
    
    .wrap header h1{font-size: 2rem;}

    header nav ul li {display: inline-block;}

    header nav{
        width: 60%;
        display: flex;
        justify-content: flex-end;
    
    }

    .s-01{
        width: 100%;
        height: 100vh;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    .s-01 .left{
        width:44%;}

    .s-01 .left .i-01{
        width: 100%;
        position:sticky;
        top : 90px;
    }
    .s-01 .left img{width:100%}


    .right{
        padding : 0px;
        font-size : 15px;
        width: 40%;
        margin-right:auto;
        margin-left:10%;
    }

    .right .section p{
        margin-top: 25px;
        line-height:2;
        font-size: 0.2rem;
        font-weight: normal;

    }

    nav ul {display: block;
        display: none;
    }


}



/* 테블릿 용 */


@media (min-width:768px) and (max-width:1024px){
    
}