@import url('./common.css');


section{
    margin: 0 auto;
    margin-top: 8%;
    height: 40%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

main section h2{
    width: 20%;
    font-size: 300%;
    height: 100%;
    position: sticky;
    top:30%;
}

main section .s-02 {
    width: 60%;
    

}

main section .s-02 .right{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20%;
    

}

main section .s-02 .right .txt{

    height: 40%;

}


.right b{
    font-size: 900%;
    transform: translate(-50px,-50px);
    display: block;


}
h3{
    font-size: 200%;
}

